<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.wx.Mapper.UserMapper">


	<!-- 如何将sql映射文件中的sql语句和mapper接口中的方法一一对应起来？
	1) sql映射文件中的namespace值设置为接口的全类名
	2) sql映射文件中的sql语句所在的标签的id值设置为对应接口的方法名
	 -->
	 
    <!--findAll方法   通过namespace.id来确定SQL-->
    <select id="findUserIdIsExist" resultType="top.wx.pojo.Passenger">
        SELECT * FROM passenger where user_id=#{userId}
    </select>

    <select id="findDriverIdIsExist" resultType="top.wx.pojo.Driver">
        SELECT * FROM driver where driver_id=#{driverId}
    </select>

    <insert id="saveUser">
		insert into passenger(user_id,name,password,sex,balance) values(#{user_id},#{name},#{password},#{sex},#{balance})
    </insert>

    <insert id="saveDriver">
		insert into driver(driver_id,name,password,sex,score,id_card,drive_age,balance) values(#{driver_id},#{name},#{password},#{sex},#{score},#{id_card},#{drive_age},#{balance})
    </insert>

    <insert id="saveCar">
		insert into car(driver_id,car_number,brand,model,color,cpic_url) values(#{driver_id},#{car_number},#{brand},#{model},#{color},#{pic_url})
    </insert>

    <insert id="saveDriverPicUrl">
        UPDATE driver SET dpic_url = #{pic_url} WHERE driver_id = #{driver_id}
    </insert>

    <insert id="savePassengerPicUrl">
        UPDATE passenger SET upic_url = #{pic_url} WHERE user_id = #{user_id}
    </insert>

    <select id="queryUserForLogin" resultType="top.wx.pojo.Passenger">
        SELECT * FROM passenger where user_id=#{param1} and password=#{param2}
    </select>

    <select id="queryDriverForLogin" resultType="top.wx.pojo.Driver">
        SELECT * FROM driver where driver_id=#{param1} and password=#{param2}
    </select>

    <select id="getDriverInfo" resultType="top.wx.pojo.Driver">
        SELECT * FROM driver where driver_id=#{param1}
    </select>

    <select id="getPassengerInfo" resultType="top.wx.pojo.Passenger">
        SELECT * FROM passenger where user_id=#{param1}
    </select>
</mapper>