<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orderservice.dao.PassengerMapper" >
    <select id="findPassengerById" resultType="com.example.orderservice.pojo.Passenger">
    SELECT * FROM ridehailing.passenger WHERE user_id = #{user_id}
    </select>
    <select id="findPassengerFromOrder">
        SELECT user_id FROM ridehailing.order WHERE order_id = #{order_id};
    </select>
    <update id="updateBalance" parameterType="com.example.orderservice.pojo.Passenger">
        UPDATE ridehailing.passenger SET balance = #{balance} WHERE user_id = #{user_id};
    </update>
</mapper>